@import "./global";

/*note-brief-layout*/
.note-brief-layout{
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  border-right: solid 1px @border-color;
  height: 100%;
  z-index: 11;
  padding: 15px 0;
  background: @bg-second-color;
  color: @tree-color;
  transition: .3s ;
  overflow-y: auto;
}

.note-item{
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;

  position: relative;
  border-bottom: solid 1px #000;
  .note-item-title {
    font-size: 17px;
    color: @tree-light-color;
  }
  .note-item-mark {
    margin-top: 7px;
    font-size: 12px;
  }
  .operate-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 7px;
    top: 7px;
    position: absolute;
    z-index: 1;
    background: #5f5f5f;
    opacity: 0;
    transform: scale(0);
    transition: .3s;
    text-align: center;
    line-height: 30px;
    color: @note-brief-light-bg;
    .iconfont{
      font-size: 18px;
    }
  }
  .operate-icon:hover{
    background: @warn-color;
    color: #fff;
  }
}

.note-item.act {
  background: @note-brief-light-bg;
}

.note-layout-input-box{
  background: @tree-light-bg-color;
  color: @tree-light-color;
  width: 90%;
  height: 40px;
  padding: 0 10px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  .iconfont{
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.note-layout-input{
  height: 100%;
  border: none;
  background: transparent;
  display: inline-block;
  color: @tree-light-color;
  outline: #fff;
  padding-right: 46px;
}
.no-data{
  flex: 1;
  font-size: 20px;
  padding: 20px;
  color: #7e8896;
  background: #faf9f9;
  .iconfont{
    font-size: 100px;
  }
  .create-btn{
    color: @highlight-color;
    cursor: pointer;
  }
}

/*登录*/
.login-btn-layout{
  padding: 0 10px;
}
.login-btn{
  line-height: 40px;
  color: #fff;
  background: @highlight-color;
  text-align: center;
  font-size: 18px;
  margin: 40px auto;
  cursor: pointer;
  border-radius: 4px;
}
.login-btn.disable{
  background: #babbbd;
}
.avatar-layout{
  margin: 40px auto 30px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  color: @bg-panel-color;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.form-group{
  margin-top: 40px;
}

/*Tree*/
.catalogs-layout{
  margin-top: 10px;
  padding: 0 20px;
  .iconfont {
    font-size: 25px;
    position: relative;
    margin-right: 5px;
  }
  .catalogs-name {
    position: relative;
    max-width: 150px;
  }
  .act .catalogs-name{
    border-bottom: solid 1px @highlight-color;
  }

}
.catalogs-layout .catalogs-layout{
  padding-left: 20px;
}
